<div ng-hide="$ctrl.isTestStarted" >
  <h2 class="text-center">Твердження</h2>
  <div class="col-sm-offset-1">
    <p>Методика налічує 133 твердження, що описують поведінку однієї людини у стосунках з іншою.</p>
    <p>Оцініть, будь ласка, якою мірою ваші дії та переживання щодо людини, яку ви згадували у методиці 1 (методика з колами), співпадають з тими, що описані у твердженнях методики 2.
    Для цього оберіть один з п’яти варіантів відповідей:</p>
    <ul style="list-style-type: none">
      <li>1 – абсолютно не про мене; </li>
      <li>2 – мало схоже на мене;</li>
      <li>3 – водночас і схоже, і несхоже на мене;</li>
      <li>4 – схоже на мене;</li>
      <li>5 – точно про мене.</li>
    </ul>
    <p>Якщо у ваших стосунках не виникало описаної ситуації, <strong>будь ласка, уявіть її</strong> та надайте найбільш імовірну відповідь.</p>
    <p>Найкраще давати відповіді, що першими спадають на думку. Через те не розмірковуйте над ними надто довго.</p>
  </div>
  <br>
  <div class="col-sm-6 col-sm-offset-5">
    <button type="submit" class="btn btn-green" ng-click="$ctrl.startTest($event)">Розпочати тест</button>
  </div>
</div>
<div id="surveyContainer"></div>
