<div ng-hide="$ctrl.isTestStarted" >
  <h2 class="text-center">Додаткова методика 1</h2>
  <div class="col-sm-offset-1">
    <p>Наступні дві додаткові методики подано мовою оригіналу, оскільки відсутні їх україномовні версії.</p>
    <p>Звертаємо вашу увагу на те, що їх потрібно заповнювати не стосовно людини, яку ви згадували у попередніх методиках, а взагалі, тобто описувати вашу поведінку у переважній більшості життєвих ситуацій.</p>
    <br/>
    <p>Пожалуйста, прочитайте ниже приведенные утверждения и,ориентируясь на то, как Вы ведёте себя в подобных ситуациях, выразите степень своего согласия или несогласия с каждым из них. Для того чтоб обозначить свой ответ, выберите один из 5 вариантов оценок, пронумерованных от 0 до 4.</p>
    <ul style="list-style-type: none">
      <li>0 - это совершенно не относится ко мне; </li>
      <li>1 - мне это не свойственно в большинстве случаев;</li>
      <li>2 - сомневаюсь, что это можно отнести ко мне;</li>
      <li>3 - это похоже на меня, но нет уверенности;</li>
      <li>4 - это на меня похоже.</li>
    </ul>
  </div>
  <br>
  <div class="col-sm-6 col-sm-offset-5">
    <button type="submit" class="btn btn-green" ng-click="$ctrl.startTest($event)">Розпочати тест</button>
  </div>
</div>
<div id="surveyContainer"></div>
