<div>
  <h3 class="text-center">Вітаємо вас на нашому сайті!</h3>
  <p class="text-center">Ми раді, що ви знайшли час, щоб пройти наш тест.</p>
  <p class="text-center">
    Вам буде запропоновано три окремі методики. Вони спрямовані на вивчення ваших особистісних властивостей. При обробці результатів ми не будемо окремо аналізувати ваші відповіді. Всі результати оброблятимуться як загальний масив даних. Тож дякуємо за вашу відвертість!
</div>
<hr>
<div class="container">
  <form class="form-horizontal" role="form" name="userForm">
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label required-field">Ім'я</label>
      <div class="col-sm-9">
        <input type="text" id="firstName" placeholder="Іван" class="form-control" autofocus ng-model="name" required>
        <span class="help-block">П.І.Б. або псевдонім</span>
      </div>
    </div>
    <div class="form-group">
      <label for="sex" class="col-sm-3 control-label required-field">Стать</label>
      <div col-sm-9>
        <select name="sex" id="sex" ng-model="sex" style="width: 50%; margin-left: 15px" required>
          <option value="male">чоловіча</option>
          <option value="female">жіноча</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="age" class="col-sm-3 control-label required-field">Вік</label>
      <div class="col-sm-9">
        <input type="number" id="age" placeholder="25" class="form-control" autofocus ng-model="age" required>
      </div>
    </div>
    <div class="form-group">
      <label for="education" class="col-sm-3 control-label required-field">Освіта</label>
      <div class="col-sm-9">
        <input type="text" id="education" placeholder="середня\спеціальна\незакінчена вища\вища" class="form-control" autofocus ng-model="education" required>
      </div>
    </div>
    <div class="form-group">
      <label for="occupation" class="col-sm-3 control-label required-field">Професія</label>
      <div class="col-sm-9">
        <input type="text" id="occupation" placeholder="студент" class="form-control" autofocus ng-model="occupation" required>
      </div>
    </div>
    <div class="form-group">
      <label for="marital" class="col-sm-3 control-label required-field">Сімейний стан</label>
      <div class="col-sm-9">
        <input type="text" id="marital" placeholder="" class="form-control" autofocus ng-model="marital" required>
        <span class="help-block">одружений / неодружений / заміжня / незаміжня</span>
      </div>
    </div>
    <div class="form-group">
      <label for="city" class="col-sm-3 control-label required-field">Місто, область</label>
      <div class="col-sm-9">
        <input type="text" id="city" placeholder="Київ" class="form-control" autofocus ng-model="city" required>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Електронна адреса</label>
      <div class="col-sm-9">
        <input type="email" id="email" placeholder="ivan.student@gmail.com" class="form-control" autofocus ng-model="email">
      </div>
    </div>
    <div class="alert alert-info text-center">
      <strong>Гарантуємо повну конфіденційність щодо наданої вами інформації</strong>
    </div>
    <hr>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()" ng-disabled="userForm.$invalid">Розпочати тест</button>
      </div>
    </div>
  </form>
</div>
