  <br>
  <br>
  <div class="alert alert-danger text-center">
    <h2>Увага!</h2>
    <strong>  Дуже важливо натискати кнопку «ФІГУРУ ЗНАЙДЕНО» тільки після того, як
      ви побачили просту фігуру у складній. Це необхідно для отримання
      коректних результатів нашого дослідження. Якщо Ви натискатимете цю
      кнопку передчасно, тестування виявиться недостовірним.  <br>
      Дякуємо за свідому позицію!</strong>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()">Розпочати тест</button>
    </div>
  </div>
  <br>
  <br>
