<canvas class="canvas" id="c" width="300" height="300" ng-hide="$ctrl.isTestFinished"></canvas>
<br>
<div class="menu" style="top: 25px">
  <div class="btn-group" ng-hide="$ctrl.isTestFinished">
    <button type="submit" class="btn btn-green" ng-click="$ctrl.startTest()" ng-hide="($ctrl.isTestStarted || !$ctrl.isTimerStarted) || $ctrl.SHOW_TEST_TIME > 0">ФІГУРУ ЗНАЙДЕНО</button>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.showSimpleAgain()" ng-hide="$ctrl.isTestStarted || !$ctrl.isTimerStarted">{{$ctrl.oneMoreTimeText}}</button>
  </div>
  <div class="btn-group" ng-hide="$ctrl.isTestFinished">
    <button type="submit" class="btn btn-green" ng-click="$ctrl.check()" ng-hide="!$ctrl.isTestStarted">Перевірити</button>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.reset()" ng-hide="!$ctrl.isTestStarted">Очистити</button>
  </div>
  <span>{{$ctrl.info}}</span>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4" ng-show="$ctrl.isTestFinished" style="top: 75px">
    <div class="text-center">
      <h3 ng-show="$ctrl.isTestPassed">Відповідь вірна!</h3>
      <h3 ng-hide="$ctrl.isTestPassed">Час вичерпано!</h3>
      <br>
      <button type="submit" class="btn btn-green" ng-click="$ctrl.next()" >Далі</button>
    </div>
  </div>
</div>
