<h3>Інструкція з тесту.</h3>
<div>
  <img src="images/witkin_help_1.jpg">
  <p>1. Спочатку, впродовж п’ятнадцяти секунд, ви побачите складну фігуру. Її необхідно ретельно роздивитись і запам’ятати.</p>
</div>
<div>
  <img src="images/witkin_help_2.jpg">
  <p>2. Далі на екрані з’явиться проста фігура. Це триватиме десять секунд. Після того, ви знов побачите складну фігуру. Разом з тим розпочнеться відлік часу. </p>
</div>
<div>
  <p>3. Як тільки ви віднайдете просту фігуру у складній, натисніть кнопку «ФІГУРУ ЗНАЙДЕНО».</p>
</div>
<div>
  <img src="images/witkin_help_3.jpg">
  <p>4. Усі лінії складної фігури стануть інтерактивними. При наведенні курсору лінія забарвлюється в синій колір.
</div>
<div>
  <img src="images/witkin_help_4.jpg">
  <p>5. Щоб виділити лінію, клацніть по ній лівою кнопкою миші. Колір лінії при цьому зміниться на жовтий.</p>
</div>
<div>
  <img src="images/witkin_help_5.jpg">
  <p>За допомогою курсору слід виділити ті грані складної фігури, які утворюють просту фігуру. Коли завдання виконано, натисніть кнопку «ДАЛІ».</p>
</div>

<div class="alert alert-danger text-center">
  <h2>Увага!</h2>
  <strong>Дуже важливо натискати кнопку «ФІГУРУ ЗНАЙДЕНО» тільки після того, як ви побачили просту фігуру у складній. Це необхідно для отримання коректних результатів нашого дослідження. В іншому випадку воно виявиться недостовірним.
    Дякуємо за свідому позицію!</strong>
</div>
<hr>
<div class="form-group">
  <div class="col-sm-6 col-sm-offset-3">
    <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()">Розпочати тест</button>
  </div>
</div>
<br>
<br>
