<div class="marginLeft10">
  <h2 class="text-center">Методика 3</h2>
  <p>
    <strong>Інструкція.</strong> Вам буде показано 12 складних фігур. До кожної складної
    фігури буде запропоновано просту фігуру, яка міститься у складній і є
    її частиною. Ваше завдання – знайти і виділити цю просту фігуру у
    складній.
  </p>
  <p>
    На пошук кожної простої фігури надається 120 секунд. Результатом тесту
    вважається час, витрачений на виконання всіх 12-ти завдань.
  </p>

  <p>Продивіться відео, як проходити цей тест</p>
  <div>
    <youtube-video video-id="theBestVideo"></youtube-video>
  </div>
  <br>

  <p>Також ви можете ознайомитися с  <a ui-sref="witkin-text" style="color: dodgerblue">текстовими варіантом інструкції</a></p>
  <br>
  <div class="row">
    <div class="col-md-4 "></div>
    <div class="col-md-4 ">
        <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()" ng-disabled="!isVideoWatched">Далі</button>
    </div>
  </div>
  <br>
  <br>
</div>
