<div class="marginLeft10"><h3>Інструкція.</h3>
  <div>
    <p>1. Спочатку, впродовж п’ятнадцяти секунд, ви побачите складну фігуру. Її необхідно ретельно роздивитись і запам’ятати. (Ілюстрація 1)</p>
    <img src="images/witkin_help_1.jpg" id="image1"><label for="image1">Ілюстрація 1</label><Br>
  </div>
  <div>
    <p>2. Далі на екрані з’явиться проста фігура. Це триватиме десять секунд. Після того, ви знов побачите складну фігуру. Разом з тим розпочнеться відлік часу.  (Ілюстрація 2) </p>
    <img src="images/witkin_help_2.jpg" id="image2"><label for="image1">Ілюстрація 2</label><Br>
  </div>
  <div>
    <p>3. Як тільки ви віднайдете просту фігуру у складній, натисніть кнопку «ФІГУРУ ЗНАЙДЕНО».</p>
  </div>
  <div>
    <p>4. Усі лінії складної фігури стануть інтерактивними. При наведенні курсору лінія забарвлюється в синій колір.  (Ілюстрація 3) </p>
    <img src="images/witkin_help_3.jpg" id="image3"><label for="image1">Ілюстрація 3</label><Br>
  </div>
  <div>
    <p>5. Щоб виділити лінію, клацніть по ній лівою кнопкою миші. Колір лінії при цьому зміниться на жовтий.  (Ілюстрація 4) </p>
    <img src="images/witkin_help_4.jpg" id="image4"><label for="image1">Ілюстрація 4</label><Br>
  </div>
  <div>
    <p>За допомогою курсору слід виділити ті грані складної фігури, які утворюють просту фігуру (Ілюстрація 5). Коли завдання виконано, натисніть кнопку «ДАЛІ». </p>
    <img src="images/witkin_help_5.jpg" id="image5"><label for="image1">Ілюстрація 5</label><Br>
  </div>

  <div class="alert alert-danger text-center">
    <h2>Увага!</h2>
    <strong>Дуже важливо натискати кнопку «ФІГУРУ ЗНАЙДЕНО» тільки після того як ви побачили просту фігуру у складній. Це необхідно для отримання коректних результатів нашого дослідження. В іншому випадку воно виявиться недостовірним.
      Дякуємо за свідому позицію!</strong>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()">Розпочати тест</button>
    </div>
  </div>
  <br>
  <br>
</div>
