<div class="component marginLeft10 text-center">
  <h2>Відновлення сессії</h2>
  <p>
    Ви прервалися на графічному тесті номер <strong><span>{{$ctrl.lastStep}}</span></strong> <br>
    Ми відновили сессію, щоб ви мали змогу продовжити з місця, на якому зупинилися.<br>
    Натисніть кнопку "Далі", коли будете готові продовжити. <br>
  </p>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()">Далі</button>
    </div>
  </div>
  <br>
  <br>
</div>
