<div class="component marginLeft10 text-center">
  <h2>Важлива інформація!</h2>
  <p>
    Ми просимо вас запам’ятати людину стосовно якої ви тільки що заповнювали опитувальник. Приблизно через 4 – 5 тижнів ми знов попросимо вас пройти цей опитувальник стосовно цієї ж людини. Це необхідно для цілей дослідження.
  </p>
  <p>
    Дякуємо за допомогу!
  </p>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.startTest()">Далі</button>
    </div>
  </div>
  <br>
  <br>
</div>
